*{
    padding: 0;
    margin:0 ;
    box-sizing: border-box;
    font-family:'Josefin Sans',sans-serif ;
}
.hero{
    height: 100px;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/OIP.jpeg);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;


}
.logo{
    color: grey;
    font-size: 28px;
    
}